/*Web Reset*/

/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  font-family: 'Source Sans Pro', sans-serif;
}
h1, h2, h3{
  font-family: 'Oswald', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*general styling*/
nav{
    background-color: #011627;
    overflow: hidden;
    width: 100%;
}
nav a{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;   
}
#page-container{
  height: 100%;
  position: relative;
}
/* Change the color of links on hover */
.nav a:hover {
    background-color: #20A4F3;
    color: black;
  }
  /* Add an active class to highlight the current page */
  .topnav a.active {
    background-color: #BEE9E8;
    color: white;
  }
.logo{
  padding: 20px;
  margin: auto;
  text-align: center;
  width:40%; 
  height:auto; 
  max-width:400px;
  min-width: 200px;
  display: block;
}
/*nav for mobile */
@media screen and (min-width: 300px) and (max-width: 700px) {
  #page-container2{
    height: 400px;
    position: relative;
  }
  nav a{
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: .8rem;  
}
}
/*footer*/
.footer{
	margin: 0;
  padding: 0;
  background-color:#1A1E25;
  color: white;
	position: absolute;
  width: 100%;
}
footer a{
  text-decoration: none;
}
footer .email{
  margin-left: 1rem;
}
.center-footer-text{
    
    font-weight: 300;
    font-style: normal;
    font-size: 1rem;
    display: inline;
    padding: 10px;
    text-align: center;
    position: sticky;
}
.center-footer-text h3{
    font-weight: 400;
    font-style: italic;
    font-size: 1.2rem;
    margin-bottom: 10px;
}
.center-footer-text p{
    margin-bottom: 11px;
    line-height: 150%;
}
.center-footer-text a{
    text-align: center;
}
hr{
    width: 50%;
    margin-top: 30px;
    margin-bottom: 15px;
    border-radius: 20px;
}
/* footer social media icons*/
.footer{
	margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:#1A1E25;
  color: white;
	width: 100%;
	position: absolute;
}
.center-footer-text{
    
    font-weight: 300;
    font-style: normal;
    font-size: 1rem;
    display: inline;
    padding: 10px;
    text-align: center;
    position: sticky;

}
.center-footer-text h6{
    
    font-weight: 400;
    font-style: italic;
    font-size: 1.2rem;
    margin-bottom: 10px;
}
.center-footer-text p{
    margin-bottom: 11px;
    line-height: 150%;
}
.center-footer-text a{
    text-align: center;
}
hr{
    width: 50%;
    margin-top: 30px;
    margin-bottom: 15px;
    border-radius: 20px;
}
footer, a{
    display: inline;
    text-align: center;
    color: white;
}
.fa-facebook {
    background: #EEF5DB;
    color: #4F6367;
    border-radius:50%;
    width: 15px;
    text-decoration: none;
    font-size: 10px;
    padding: 10px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 20px;
    margin-top: -10px;
  }
  .fa-twitter {
    background: #EEF5DB;
    color: #4F6367;
    border-radius:50%;
    width: 15px;
    text-decoration: none;
    font-size: 10px;
    padding: 10px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 20px;
    margin-top: -10px;
  }
  /* footer mobile*/
  @media screen and (max-width: 640px) {
    .footer{
      margin: 0;
      padding: 0;
      background-color:#1A1E25;
      color: white;
      width: 100%;
      position: absolute;
    }
    .center-footer-text{
        font-weight: 300;
        font-style: normal;
        font-size: .8rem;
        display: inline;
        padding: 10px;
        text-align: center;
        position: sticky;
    }
    .center-footer-text h6{
        font-weight: 400;
        font-style: italic;
        font-size: 1.2rem;
        margin-bottom: 10px;
    }
    .center-footer-text p{
        margin-bottom: 11px;
        line-height: 150%;
    }
    .center-footer-text a{
        text-align: center;
    }
    hr{
        width: 50%;
        margin-top: 30px;
        margin-bottom: 15px;
        border-radius: 20px;
    }
    footer, a{
        display: inline;
        text-align: center;
        color: white;
    }
    .fa-facebook{
        background: #EEF5DB;
        color: #4F6367;
        border-radius:50%;
        width: 15px;
        text-decoration: none;
        font-size: 10px;
        padding: 10px;
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 20px;
        margin-top: -10px;
      }
      .fa-twitter {
        background: #EEF5DB;
        color: #4F6367;
        border-radius:50%;
        width: 15px;
        text-decoration: none;
        font-size: 10px;
        padding: 10px;
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 20px;
        margin-top: -10px;
      }
  }
  /* Home page styling*/
  /*hero image style*/
  #hero-image{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/hero.jpg");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
  .hero-text h1{
    font-weight: 600;
    font-size: 3rem;
    margin-bottom: 30px;
    text-transform: uppercase;
  }
  .hero-text p{  
    font-weight: 400;
    font-style: italic;
    font-size: 2rem;
    margin-bottom: 30px;
    line-height: 150%;
  }
  .browse-button{
    border-radius: 2px;
    padding: 12px 70px;
    width: 345px;
    font-weight: 600 !important;
    font-size: 1em;
    border: none;
    background-color: #f2f2f2;
    text-transform: uppercase;
    color: #1A1E25;
    text-decoration: none;
  }
  .browse-button a{
    text-decoration: none;
    color: #1A1E25;
  }
  .browse-button:hover{
    background-color: #7A9E9F;
    text-transform: uppercase;
  }
  .book-button{
    border-radius: 2px;
    padding: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
    font-weight: 600 !important;
    font-size: 1em;
    border: none;
    background-color: white;
    text-transform: uppercase;
    text-transform: uppercase;
    color: #1A1E25;
  }
  .book-button a{
    text-decoration: none;
    color: #1A1E25;
  }
  .book-button:hover{
    background-color: #7A9E9F;
    text-transform: uppercase;
  }
  /* Homepage Shop Section */
  #home-shop{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/shop.jpg");
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-bottom: 20px;
  }
  .visit-shop{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
  .visit-shop h2{
    font-weight: 600;
    font-size: 3rem;
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    top: 40%;
    left: 50%;
  }
.visit-shop p{
    font-weight: 200;
    font-style: normal;
    font-size: 1.25rem;
    margin-bottom: 25px;
    text-align: center;
    top: 50%;
    left: 50%;
    color: #EEF5DB;
    line-height: 150%;
}
.book-button{
  border-radius: 2px;
  margin: 30px;
  padding: 15px;
  width: 145px;
  font-weight: 500;
  font-size: 1em;
  border: none;
  background-color: #EEF5DB;
  text-transform: uppercase;
  text-decoration: none;
  color: #1A1E25;
}
.book-button a{
  text-decoration: none;
  color: #0B2027;
}
.book-button:hover{
  background-color: #7A9E9F;
  text-transform: uppercase;
}
/*shop section mobile*/
@media screen and (max-width: 640px) {
  #home-shop{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/shop.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-bottom: 20px;
  }
  .visit-shop h2{
    font-weight: 600;    
    font-size: 2rem;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    top: 50%;
    left: 50%;
}
.browse-button{
  border-radius: 2px;
  padding: 12px 70px;
  width: 345px;
  font-weight: 600 !important;
  font-size: 1rem;
  border: none;
  background-color: #f2f2f2;
  text-transform: uppercase;
  color: #1A1E25;
  text-decoration: none;
}
.book-button{
  border-radius: 2px;
  padding: 12px 70px;
  width: 345px;
  font-weight: 600 !important;
  font-size: 1rem;
  border: none;
  background-color: #f2f2f2;
  text-transform: uppercase;
  color: #1A1E25;
  text-decoration: none;
}
}
/*shop section tablet*/
@media screen and (min-width: 641px) and (max-width:1000px){
  .visit-shop h2{
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 15px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    top: 50%;
    left: 50%;
}
}
/* Services Page*/
#vc-shop{
  width: 100%;
}
#vc-shop p{
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  margin: auto;
  text-align: center !important;
  color: #1A1E25;
  top: 50%;
  left: 50%;
  line-height: 1.2 !important;
}
#vc-shop h2{
    font-weight: 600;
    font-size: 2rem;
    margin-top: 40px;
    margin-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
    color: #1A1E25;
    top: 50%;
    left: 50%;
}
.vc-store{
  width: 100%;
  height: 244px;
  object-fit: cover;
  position: relative;
}
#schedule{
  width: 100%;
  padding: 2.5rem;
  align-content: center;
  display: flex;
}
/*styling for all 3 articles*/
#shop-articles{
  left: 50%;
  transform: translate(-50%);
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  justify-content: space-evenly;
  position: relative;
}
/*mobile articles*/
@media screen and (max-width:900px){
  #shop-articles{
    display: inline-block !important;
    position: relative;
    margin: 0;
  }
  .service-repair{
    display: flex;
    display: inline-block;
    text-align: left;
    position: relative;
    border: 3px solid #4F6367;
    padding: 15px;
    width: 300px !important;
    height: 175px;
    border-radius: 2px;
  }
  .service-build{
  display: flex;
   display: inline-block;
   text-align: left;
   position: relative;
   border: 3px solid #4F6367;
   padding: 15px;
   width: 300px !important;
   height: 175px;
   border-radius: 2px;
   }
   .tune-up{
    display: flex;
   display: inline-block;
   text-align: left;
   position: relative;
   border: 3px solid #4F6367;
   padding: 15px;
   max-width: 300px !important;
   height: 175px;
   border-radius: 2px;
   }
}
/* left article*/
.service-repair{
  display: flex;
  display: inline-block;
  text-align: left;
  position: relative;
  border: 2px solid #4F6367;
  padding: 15px;
  margin: 30px;
  width: 350px;
  height: 175px;
  border-radius: 2px;
  flex-shrink: 0;  
}
.service-repair h3{
  font-weight: 600;
  font-size: 1.6rem;
  color: #1A1E25;
  margin-bottom: 15px;
  text-align: left;
}
.service-repair ul li{
  text-align: left;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  color: #1A1E25;
  margin-bottom: 12px;
}
/* middle article*/
.service-build{
  display: flex;
  display: inline-block;
  text-align: left;
  position: relative;
  padding: 15px;
  margin: 30px;
  width: 350px;
  height: 175px; 
  border: 2px solid #4F6367;
  border-radius: 2px;
  flex-shrink: 0;  
 }
 .service-build h3{
   font-weight: 600;
   font-size: 1.6rem;
   margin-bottom: 15px;
   color: #1A1E25;
   text-align: left;
  }
 .service-build ul li{
    text-align: left;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    color: #1A1E25;
    margin-bottom: 12px;
 }
 /* right article*/
 .tune-up{
  display: flex;
  display: inline-block;
  text-align: left;
  position: relative;
  border: 2px solid #4F6367;
  padding: 15px;
  margin: 30px;
  width: 350px;
  height: 175px;
  border-radius: 2px;
  flex-shrink: 0;  
 }
 .tune-up h3{
  font-weight: 600;
  font-size: 1.6rem;
  margin-bottom: 15px;
  color: #1A1E25;
  text-align: left;
 }
 .tune-up ul li{
  text-align: left;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  color: #1A1E25;
  margin-bottom: 12px;
 }
 /*forms styling*/
 .schedule-headline{
  font-weight: 400;
  font-style: italic;
  font-size: 2rem;
  color: #f2f2f2;
  text-align: center;
  background:#4F6367;
  width: 100%;
  padding: 15px 0;
  margin: 30px 0;
}
#schedule{
  max-width: 700px;
  margin: 20px auto;
  height: 670px;
  z-index: inherit;
  padding: 10px 20px;
  display: flex;
  display: block;
  align-items: flex-start;
  position: relative;
  border: 2px solid #4F6367;
  border-radius: 3px;
}
/* form mobile*/
@media screen and (max-width:650px){
  #schedule{
  max-width: 400px;
  margin-bottom: 25px;
  height: 1050px;
  width: 330px; 
  position: relative;
  border: 2px solid #4F6367;
  border-radius: 3px;
  }
form{
margin-bottom: 20px;
  }
}
#vc-shop p{
  margin: 15px;
}
/* form tablet*/
@media screen and (min-width:651px) and (max-width:700px){
  #schedule{
    max-width: 500px;
    height: 1070px !important;
    width: 850px; 
    position: relative;
    border: 2px solid #4F6367;
    border-radius: 3px;
  }
}
/*name form*/
.name{
  font-weight: 600;
  font-style: normal;
  font-size: 1rem;
  position: relative;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  justify-content: flex-end;
  align-items: center;
  line-height: 20px; 
}
.name legend{
  margin-bottom: 10px;
  font-size: 1.3rem;
  font-weight: 800;
}
.name input{
  border-radius: 2px;
  border: 1px solid #4F6367;
  margin-bottom: 1%;
  flex: 20px;
  padding-right: 2%;
  display: inline;
  height: 10px;
}
.name input[type=text]{
  border-radius: 2px;
  margin: 0 2%;
  display: inline-block;
  border: .5px solid #4F6367;
  padding: 10px 30px;
}
/* name mobile*/
@media screen and (max-width:700px){
  .name{
    width: 300px;
    display: flex;
    flex-direction: column;
    margin: 0 !important;
  }
}
/*name2 form*/
.name2{
  font-weight: 600;
  font-style: normal;
  font-size: .9rem;
  position: relative;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  justify-content: flex-end;
  align-items: center;
  line-height: 20px;
}
.name2 legend{
  margin-bottom: 20px;
  font-size: 1.3rem;
  font-weight: 800;
}
.name2 input{
  border-radius: 2px;
  border: 1px solid #4F6367;
  margin-bottom: 1%;
  flex: 20px;
  padding-right: 2%;
  display: inline;
  height: 10px;
}
.name2 input[type=text]{
  border-radius: 2px;
  margin: 0 2%;
  display: inline-block;
  border: .5px solid #4F6367;
  padding: 10px 30px;
}
/* social mobile*/
@media screen and (max-width:700px){
  .name2 {
    width: 300px;
    padding: 0 !important;
    margin: 25px 0!important;
    display: flex;
    flex-direction: column;
  }
}
/*social form*/
.social {
  font-weight: 600;
  font-style: normal;
  font-size: 1rem;
  position: relative;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
  line-height: 20px;
}
.social input {
  border-radius: 2px;
  border: 1px solid #4F6367;
  margin-bottom: 1%;
  flex: 20px;
  height: 10px;
}
/* social mobile*/
@media screen and (max-width:700px){
  .social {
    margin: 20px 0;
    width: 300px;
    padding: 0 !important;
    display: inline;
    font-size: 1rem;
  }
}
/*service form*/
.service {
  font-weight: 600;
  font-style: normal;
  font-size: 1rem;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  line-height: 20px;
}
.service input{
   border-radius: 2px;
   border: 1px solid #4F6367;
   flex: auto;
}
/* service mobile*/
@media screen and (max-width:700px){
  .service{
    width: 300px;
    margin: 20px 0;
    padding: 0 !important;
    display: inline;
    font-size: 1rem;
  }
}
/*contact-method*/
.contact-method {
  font-weight: 600;
  font-style: normal;
  font-size: 1rem;
  position: relative;
  display: flex;
  display: inline;
  flex-direction: row;
  margin-bottom: 20px;
  line-height: 20px;
}
.contact-method select{
  position: relative;
}
.contact-method select {
  background-color: #EEF5DB;
  border: hidden;
  border-radius: 2px;
  padding: 5px 60px;
  border-color: #1A1E25 transparent transparent transparent;
}
.contact-selected:after{
  position: absolute;
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 2px solid transparent;
  border-radius: 2px;
  border-color: #1A1E25 transparent transparent transparent;
}
.select-items {
  position: absolute;
  background-color: #EEF5DB;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}
.contact-method label{
  font-style: oblique;
  padding: 0 1%;
}
.contact-method input {
   border-radius: 2px;
   border: 1px solid #1A1E25;
   margin-bottom: 1%;
   flex: auto;
   padding-right: 2%;
}
/* contact-method mobile*/
@media screen and (max-width:700px){
  .contact-method {
    width: 300px;
    margin: 20px 0;
    padding: 0 !important;
    margin: 0 !important;
    display: inline;
    font-size: 1rem;
  }
  .contact-method select{
    margin-bottom: 12px;
  }
}
/*requests form*/
.requests {
  font-weight: 600;
  font-style: normal;
  font-size: 1rem;
  position: relative;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
  line-height: 20px;
}
.requests textarea {
   border-radius: 2px;
   border: 2px solid #4F6367;
   margin: 2% 0;
   flex:content;
   padding: 0 210px;
   color:#0B2027; 
}
/* requests mobile*/
@media screen and (max-width:700px){
  .requests{
    width: 300px;
    padding: 0 !important;
    margin: 20px 0!important;
    display: inline;
    font-size: 1rem;
  }
  .requests textarea{
    margin-bottom: 12px;
    border-radius: 2px;
    border: 2px solid #4F6367;
    display: inline-block;
    padding: 0 40px;
  }
}
/*submit button*/
.submit-button{
  display: flex;
  display: inline-block;
  border-radius: 2px;
  padding: 12px 70px;
  margin-bottom:25px;
  font-weight: 500;
  font-size: 1em;
  border: none;
  background-color: #4F6367;
  text-transform: uppercase;
  color: #EEF5DB;
  text-decoration: none;
  position: relative;
  left: 35%;
}
.submit-button a{
  text-decoration: none;
  color: #1A1E25;
}
.submit-button:hover{
  background-color: #7A9E9F;
  text-transform: uppercase;
}
/*mobile return button*/
@media screen and (max-width:640px){
  .submit-button{
    display: flex;
    display: inline-block;
   border-radius: 2px;
    padding: 12px 70px;
    margin-bottom:25px;
    font-weight: 500;
    font-size: 1em;
    border: none;
    background-color: #4F6367;
    text-transform: uppercase;
    color: #f2f2f2;
    text-decoration: none;
    left: 20%;
}
}
/*home button*/
.home-button{
  border-radius: 2px;
  padding: 12px 70px;
  margin: 40px 0 !important;
  font-weight: 500;
  font-size: 1em;
  border: none;
  background-color: #4F6367;
  text-transform: uppercase;
  color: #EEF5DB;
  text-decoration: none;
  position: relative;
  left: 41%;
}
/*About page styling*/
#vc-shop h1{
  font-weight: 600;
  font-style: italic;
  font-size: 3rem;
  color: #1A1E25;
  margin-bottom: 2%;
  text-align: center;
  display: block;
  margin: 40px auto;
  text-transform: uppercase;
}
#vc-shop p{
  font-weight: 300;
  font-style: normal;
  font-size: 1.1rem;
  color: #1A1E25;
  margin-bottom: 2%;
  text-align: left;
  line-height: 150%;
}
.vc-shop-par{
  width: 500px;
  text-align: center;
  justify-content: center;
  display:block;
  margin-left: auto;
  margin-right: auto;
}
/*profile images*/
#profile-container h2{
  display: inline-block;
  font-weight: 600;
  width: 100%;
  font-size: 3rem;
  margin-top: 40px;
  margin-bottom: 10px !important;
  text-align: center !important;
  text-transform: uppercase;
  color: #1A1E25;
  background-color: white;
}
.vc-faora{
  width: 200px;
  height: 200px;
  object-fit: cover;
  position: relative;
  border-radius: 50%;
  justify-content: center;
  display:block;
  margin-left: auto;
  margin-right: auto;
}
.vc-kwame{
  width: 200px;
  height: 200px;
  object-fit: cover;
  position: relative;
  border-radius: 50%;
  justify-content: center;
  display:block;
  margin-left: auto;
  margin-right: auto;
}
/*styling for all 3 articles*/
#shop-owners{
  left: 50%;
  transform: translate(-50%);
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content:center;
  position: relative;
  margin-bottom: 50px;
}
/*mobile articles*/
@media screen and (max-width:900px){
  .vc-shop-par{
    width: 400px;
    text-align: center;
    justify-content: center;
    display:block;
    margin-left: auto;
    margin-right: auto;
  }
  #shop-owners{
    display: inline-block !important;
    position: relative;
    margin-bottom: 50px;
  }
  .profile-faora{
    display: flex;
    display: inline-block;
    position: relative;
    padding: 15px;
    margin: 15px 0;
    width: 300px !important;
    height: 175px;
    border-radius: 2px;
  }
  .profile-kwame{
    display: flex;
    display: inline-block;
    position: relative;
    padding: 15px;
    margin: 120px 0 !important;
    width: 300px !important;
    height: 175px;
    border-radius: 2px;
   }
}
/* left article*/
.profile-faora{
  display: flex;
  display: inline-block;
  position: relative;
  padding: 15px;
  margin: 30px;
  width: 450px;
  height: 475px;
  flex-shrink: 0;  
}
.profile-faora h2{
  font-weight: 600;
  font-size: 1.6rem;
  color: #1A1E25;
  margin-bottom: 15px;
  text-align: center;
}
.profile-faora h3{
  font-weight: 400;
  font-size: 17px !important;
  color: #1A1E25;
  text-align: center;
}
.profile-faora p{
  text-align: left;
  font-weight: 300;
  font-style: normal;
  font-size: 1rem;
  color: #1A1E25;
  margin-bottom: 12px;
  line-height: 150%;
}
/* right article*/
.profile-kwame{
  display: flex;
  display: inline-block;
  position: relative;
  padding: 15px;
  margin: 30px;
  width: 450px;
  height: 475px;
  flex-shrink: 0;   
}
.profile-kwame h2{
  font-weight: 600;
  
  font-size: 1.6rem;
  color: #1A1E25;
  margin-bottom: 15px;
  text-align: center;
}
.profile-kwame h3{
  font-weight: 400;
  font-style: italic;
  font-size: 17px !important;
  color: #1A1E25;
  text-align: center;
}
.profile-kwame p{
  text-align: left;
  font-weight: 200;
  font-style: normal;
  font-size: 1rem;
  color: #1A1E25;
  margin-bottom: 12px;
  line-height: 150%;
}
 /*hero image style*/
 #about-shop-image{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/open.jpg");
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
#about-shop-image h2{
  position: relative;
  font-weight: 600;
  font-size: 3rem;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  top: 35%;
  left:0%;
}
.shop-text{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
iframe{
  width:100%;
  height:200px;
  border:0;
}
/*Contact Us area styling*/
#contact-us{
 width: 100%;
 display: flex;
 justify-content: center;
 margin-bottom: 40px;
 flex-wrap: wrap;
 
}
#contact-us h2{
  display: inline-block;
  font-weight: 600;
  width: 100%;
  font-size: 3rem;
  margin-top: 40px;
  margin-bottom: 10px !important;
  text-align: center !important;
  text-transform: uppercase;
  color: #1A1E25;
  background-color: white;
}
#contact-form{
  max-width: 500px;
  margin: 40px 0;
  height: 700px;
  padding: 10px 20px;
  display: flex;
  display: inline-block;
  align-items: flex-start;
  position: relative;
}
#contact-form h3{
  font-weight: 600;
  font-style: italic;
  font-size: 2rem;
  margin-bottom: 25px;
  color: #0B2027;
  top: 60%; 
}
#contact-form textarea{
  border-radius: 2px;
  border: 2px solid #4F6367;
  margin: 2% 0;
  flex:auto;
  padding: 0 90px;
}
input{
  flex-direction: row;
  margin: 2% 0;
  border: 2px solid #4F6367 !important;
  color: #1A1E25
}
.name-forms{
  display: flex;
  display: inline-block;
  position: relative;
  padding: 15px;
  width: 400px;
  height: 300px;
  flex-shrink: 0;  
}
input::placeholder{
  opacity: .5;
  color: #1A1E25;
  margin: 0 !important;
  padding: 0 !important;
  left: 0;
}
/*mobile return button*/
@media screen and (max-width:500px){
  #contact-form{
    display: flex;
    display: inline-block;
    position: relative;
    margin: auto;
    width: 300px;
    height: 300px;
    flex-shrink: 0;  
  }
  #contact-form textarea {
    border-radius: 2px;
    border: 2px solid #4F6367;
    margin: 2% 0;
    padding: 0 30px !important;
  }
  #contact-form .comments input::placeholder{
    font-weight: bold;
    opacity: .5;
    color: #1A1E25;
  }
}
/*Contact Details styling*/
#contact-us{
  left: 50%;
  width: 100%;
  transform: translate(-50%);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}
#contact-form{ 
  display: flex;
  display: block;
  position: relative;
  width: 450px;
  height: 275px;
}
 #contact-details{
  display: flex;
  display: block;
  position: relative;
  margin: 30px;
  width: 450px;
  height: 275px;
 }
 #contact-details h3{
   font-weight: 600;
   font-style: italic;
   font-size: 2rem;
   margin: 25px 0;
   color: #0B2027;
   top: 60%; 
 }
 #contact-details p{
  text-align: left;
  font-size: 1rem;
  color: #1A1E25;
  margin-bottom: 12px;
  line-height: 150%;
 }
 #contact-details a{
  text-decoration: none;
  color: #0B2027;
 }
 #contact-details .about-email{
  margin-left: 1rem;
 }
/*mobile contact details */
 @media screen and (max-width:900px){
  #contact-us{
    width: 300px;
    display: inline-block;
    margin-left: -5%;
    margin-right: auto;
    margin-bottom: 40px;
  }
  #contact-form{
    display: flex;
    display: inline-block;
    text-align: left;
    position: relative;
    padding: 15px;
    width: 300px !important;
    height: 175px;
    border-radius: 2px;
    margin: 0;
  }
  #contact-details{
  display: flex;
   display: inline-block;
   position: relative;
   padding: 15px;
   margin: 0;
   width: 300px !important;
   height: 175px;
   border-radius: 2px;
   }
   #contact-form .comments textarea {
    border-radius: 2px;
    border: 2px solid #4F6367;
    margin: 2% 0;
    flex: content;
    padding: 0 40px !important;
  }
}
.about-submit{
  border-radius: 2px;
  padding: 12px 70px;
  margin: 40px 0;
  font-weight: 500;
  font-size: 1em;
  border: none;
  background-color: #4F6367;
  text-transform: uppercase;
  color: #EEF5DB;
  text-decoration: none;
  position: relative;
}
 .about-submit a{
  text-decoration: none;
  color: #0B2027;
}
.about-submit:hover{
  background-color: #7A9E9F;
  text-transform: uppercase;
}
/*mobile return button*/
@media screen and (max-width:900px){
 .about-submit{
  border-radius: 2px;
  padding: 12px 70px;
  margin-bottom: 25px;
  font-weight: 500;
  font-size: 1em;
  border: none;
  background-color: #4F6367;
  text-transform: uppercase;
  color: #EEF5DB;
  text-decoration: none;
  position: relative;
 }
}
#charity-careers{
  left: 50%;
  transform: translate(-50%);
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content:center;
  position: relative;
  height: 350px;
  margin: 40px 0;
}
#charity-careers h3{
    display: inline-block;
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 10px !important;
    text-align: center !important;
    text-transform: uppercase;
    color: #1A1E25;
  }
.charities{
  display: flex;
  display: inline-block;
  position: relative;
  padding: 15px;
  margin: 20px;
  width: 550px;
  height: 475px;
  flex-shrink: 0;  
}
.charities img{
  width: 150px;
  padding-right: 14px;
  justify-content: center;
}
.charities h3{
  font-weight: 600;
  font-size: 1.6rem;
  color: #1A1E25;
  margin-bottom: 15px;
  text-align: center;
}
.charities p{
  text-align: left;
  font-weight: 300;
  font-style: normal;
  font-size: 1rem;
  color: #1A1E25;
  margin-bottom: 12px;
  line-height: 150%;
}
.careers{
  display: flex;
  display: inline-block;
  position: relative;
  padding: 15px;
  margin: 20px;
  width: 550px;
  height: 475px;
  flex-shrink: 0;  
}
.careers h2{
  font-weight: 600;
  font-size: 1.6rem;
  color: #1A1E25;
  margin-bottom: 15px;
  text-align: center;
}
.careers p{
  text-align: left;
  font-weight: 300;
  font-style: normal;
  font-size: 1rem;
  color: #1A1E25;
  margin-bottom: 30px;
  line-height: 150%;
}
/*mobile and tablet charities and careers*/
@media screen and (max-width:900px){
  #charity-careers{
    display: inline-block !important;
    position: relative;
    margin: 40px 0;
    height: 875px;
  }
  .charities{
    display: flex;
    display: inline-block;
    text-align: left;
    position: relative;
    padding: 15px;
    margin: 15px;
    width: 300px !important;
    border-radius: 2px;
  }
  .charities img{
    display: inline-block;
    padding-left: 60px;
    justify-content: center;
  }
  .careers{
   display: flex;
   display: inline-block;
   position: relative;
   padding: 15px;
   margin-bottom: 20px;
   width: 300px !important;
   }
  }
/*ride along section style*/
  #ride-along{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/ride-along.jpg");
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-bottom: 20px;
  }
  .riding-image{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
  .riding-image h2{
    font-weight: 600;
    font-size: 3rem;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    top: 60%;
    left: 50%;
  }
  .riding-resources{
    display: flex;
    display: inline-block;
    position: relative;
    margin: 40px 0;
    width: 500px;
    height: 175px;
    border-radius: 2px;
    justify-content: center;
    left: 35%;
  }
  #riding-groups{
    width: 100%;
  }
  #riding-groups h2{
    font-size: 3rem;
    text-transform: uppercase;
    margin-top:40px;
    margin-bottom: 10px;
    text-align: center;
  }
.riding-resources p{
  text-align: left;
  font-weight: 300;
  font-size: 1rem;
  color: #1A1E25;
  margin-bottom: 12px;
  line-height: 150%;
  text-align: center;
}
.riding-resources a{
  width: 200px;
  display: inline-block;
  justify-content: center;
}
.riding-resources img{
  left: 24%;
}
.gyros{
  display: flex;
  display: inline-block;
  position: relative;
  width: 150px;
  background-color: black;
  padding: 4% 10%;
  margin-bottom: 60px;
}
.ncbike{
  display: flex;
  display: inline-block;
  position: relative;
  width: 150px;
  padding: 4% 10%;
  /* margin: 0 25px 0 0 ; */
}
@media screen and (max-width:900px){
  .riding-resources{
    transform: translate(-30%);
    height: 430px;
    width: 350px;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    justify-content: center;
    position: relative;
  }
  .gyros{
    margin:0;
    display: inline-block;
    position: relative;
    left: 0% !important;
  }
  .ncbike{
    margin:0;
    display: inline-block;
    position: relative;
    left: 0% !important;
  }
}
/* Bicycle Page*/
#bicycle-page{
  width: 100%;
}
#bicycle-page div p{
  color: white;
}
.bicycle-container{
  width: 100%;
  left: 50%;
  margin-bottom: 40px;
  transform: translate(-50%);
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  position: relative;
}
#bicycle-page h1{
  font-weight: 600;
  font-style: normal;
  font-size: 3rem;
  text-transform: uppercase;
  margin: auto;
  text-align: center !important;
  color: #1A1E25;
  top: 50%;
  left: 50%;
  line-height: 1.5 !important;
}
#bicycle-page p{
  font-weight: 300;
  font-style: normal;
  font-size: 1.1rem;
  margin: auto;
  text-align: center !important;
  color: #1A1E25;
  top: 50%;
  left: 50%;
  line-height: 1.5 !important;
}
/*bike alignment*/
.urban-bikes{
  display: inline-block;
  position: relative;
  margin: 20px;
}
.urban-bikes img{
  width: 400px;
  object-fit: cover;
  border-radius: 1%;
}
.urban-bikes p{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 1.2em;
  text-transform: capitalize;
  line-height: 1;
  font-family: ofelia-text, sans-serif;
  font-weight: 500;
  text-decoration: none;
  text-transform: capitalize;
  font-style: normal;
  font-size: 1.35rem;
  color: #EEF5DB;
  margin-bottom: 2%;
  text-align: left;
  line-height: 150%;
}
.mountain-bikes{
  display: inline-block;
  position: relative;
  margin: 20px;
}
.mountain-bikes img{
  width: 400px;
  object-fit: cover;
  border-radius: 1%;
}
.mountain-bikes p{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 1.2em;
  text-transform: capitalize;
  line-height: 1;
  font-family: ofelia-text, sans-serif;
  font-weight: 500;
  text-transform: capitalize;
  font-style: normal;
  font-size: 1.35rem;
  color: #EEF5DB;
  margin-bottom: 2%;
  text-align: left;
  line-height: 150%;
}
.electric-bikes{
  display: inline-block;
  position: relative;
  margin: 20px;
}
.electric-bikes img{
  width: 400px;
  object-fit: cover;
  border-radius: 1%;
}
.electric-bikes p{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 1.2em;
  text-transform: capitalize;
  line-height: 1;
  font-family: ofelia-text, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.35rem;
  text-transform: capitalize;
  color: #EEF5DB;
  margin-bottom: 2%;
  text-align: left;
  line-height: 150%;
}
.urban-bikes span{
  background-color: #1A1E25;
  padding: 10px 10px;
  
}
.mountain-bikes span{
  background-color: #1A1E25;
  padding: 10px 10px;
}
.electric-bikes span{
  background-color: #1A1E25;
  padding: 10px 10px;
}
/*mobile bicycle containers*/
@media screen and (max-width:640px){
  .urban-bikes img{
    width: 300px;
    height: 150px;
    object-fit: cover;
    border-radius: 1%;
  }
  .mountain-bikes img{
    width: 300px;
    height: 150px;
    object-fit: cover;
    border-radius: 1%;
  }
  .electric-bikes img{
    width: 300px;
    height: 150px;
    object-fit: cover;
    border-radius: 1%;
  }
  .urban-bikes p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-transform: uppercase;
    line-height: 1;
    font-family: ofelia-text, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: .7rem;
    color: #EEF5DB;
    margin-bottom: 2%;
    text-align: left;
    line-height: 150%;
  }
  .mountain-bikes p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-transform: uppercase;
    line-height: 1;
    font-family: ofelia-text, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: .7rem;
    color: #EEF5DB;
    margin-bottom: 2%;
    text-align: left;
    line-height: 150%;
  }
  .electric-bikes p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-transform: uppercase;
    line-height: 1;
    font-family: ofelia-text, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: .7rem;
    color: #EEF5DB;
    margin-bottom: 2%;
    text-align: left;
    line-height: 150%;
  }
  }
/* Accessories Page*/
#accessories-page{
  width: 100%;
}
#accessories-page div p{
  color: white;
}
.accessories-container{
  width: 100%;
  left: 50%;
  margin-bottom: 40px;
  transform: translate(-50%);
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  position: relative;
}
#accessories-page h1{
  font-weight: 600;
  font-style: normal;
  font-size: 3rem;
  text-transform: uppercase;
  margin: 30px;
  text-align: center !important;
  color: #1A1E25;
  top: 50%;
  left: 50%;
  line-height: 1.5 !important;
}

#accessories-page p{
  font-weight: 300;
  font-style: normal;
  font-size: 1.1rem;
  margin: auto;
  text-align: center !important;
  color: #1A1E25;
  top: 50%;
  left: 50%;
  line-height: 1.5 !important;
}
/*accessories alignment*/
.wheels-tires{
  display: inline-block;
  position: relative;
  margin: 20px;
}
.wheels-tires img{
  width: 400px;
  object-fit: cover;
  border-radius: 1%;
}
.wheels-tires p{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 1.2em;
  text-transform: capitalize;
  line-height: 1;
  font-family: ofelia-text, sans-serif;
  font-weight: 500;
  text-decoration: none;
  text-transform: capitalize;
  font-style: normal;
  font-size: 1.35rem;
  color: #EEF5DB;
  margin-bottom: 2%;
  text-align: left;
  line-height: 150%;
}
.car-racks{
  display: inline-block;
  position: relative;
  margin: 20px;
}
.car-racks img{
  width: 400px;
  height: 265px;
  object-fit: cover;
  border-radius: 1%;
}
.car-racks p{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 1.2em;
  text-transform: capitalize;
  line-height: 1;
  font-family: ofelia-text, sans-serif;
  font-weight: 500;
  text-transform: capitalize;
  font-style: normal;
  font-size: 1.35rem;
  color: #EEF5DB;
  margin-bottom: 2%;
  text-align: left;
  line-height: 150%;
}
.customize{
  display: inline-block;
  position: relative;
  margin: 20px;
}
.customize img{
  width: 400px;
  object-fit: cover;
  border-radius: 1%;
}
.customize p{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 1.2em;
  text-transform: capitalize;
  line-height: 1;
  font-family: ofelia-text, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.35rem;
  text-transform: capitalize;
  color: #EEF5DB;
  margin-bottom: 2%;
  text-align: left;
  line-height: 150%;
}
.wheels-tires span{
  background-color: #1A1E25;
  padding: 10px 10px;
  
}
.car-racks span{
  background-color: #1A1E25;
  padding: 10px 10px;
}
.customize span{
  background-color: #1A1E25;
  padding: 10px 10px;
}
/*mobile bicycle containers*/
@media screen and (max-width:640px){
  .wheels-tires img{
    width: 300px;
    height: 150px;
    object-fit: cover;
    border-radius: 1%;
  }
  .car-racks img{
    width: 300px;
    height: 150px;
    object-fit: cover;
    border-radius: 1%;
  }
  .customize img{
    width: 300px;
    height: 150px;
    object-fit: cover;
    border-radius: 1%;
  }
  .wheels-tires p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-transform: uppercase;
    line-height: 1;
    font-family: ofelia-text, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: .7rem;
    color: #EEF5DB;
    margin-bottom: 2%;
    text-align: left;
    line-height: 150%;
  }
  .car-racks p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-transform: uppercase;
    line-height: 1;
    font-family: ofelia-text, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: .7rem;
    color: #EEF5DB;
    margin-bottom: 2%;
    text-align: left;
    line-height: 150%;
  }
  .customize p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-transform: uppercase;
    line-height: 1;
    font-family: ofelia-text, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: .7rem;
    color: #EEF5DB;
    margin-bottom: 2%;
    text-align: left;
    line-height: 150%;
  }
  }
  /*Urban Bicycle Page Styling*/
.urban-item{
  display: inline-block;
  position: relative;
  margin: 20px;
  height: 300px;
  border: 2px solid #4F6367;
  border-radius: 1%;
}
.urban-item img{
  width: 400px;
  height: 250px;
  object-fit: cover;
  border-radius: 1%;
}
.urban-item h2{
  position: relative;
  text-align: left;
  font-size: 1.3em;
  text-transform: capitalize;
  line-height: 1;
  font-weight: 600;
  text-decoration: none;
  text-transform: capitalize;
  font-style: normal;
  color: #0B2027;
  margin: 2%;
  line-height: 150%;
}
.urban-item p{
  position: relative;
  text-align: left;
  text-transform: capitalize;
  line-height: 1;
  font-weight: 300;
  text-decoration: none;
  text-transform: capitalize;
  font-style: normal;
  font-size: 1rem;
  color: #1A1E25;
  margin: 2%;
  line-height: 150%;
}
/*mobile bicycle containers*/
@media screen and (max-width:640px){
  .wheels-tires img{
    width: 300px;
    height: 150px;
    object-fit: cover;
    border-radius: 1%;
  }
  .car-racks img{
    width: 300px;
    height: 150px;
    object-fit: cover;
    border-radius: 1%;
  }
  .customize img{
    width: 300px;
    height: 150px;
    object-fit: cover;
    border-radius: 1%;
  }
  .wheels-tires p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-transform: uppercase;
    line-height: 1;
    font-family: ofelia-text, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: .7rem;
    color: #EEF5DB;
    margin-bottom: 2%;
    text-align: left;
    line-height: 150%;
  }
  .car-racks p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-transform: uppercase;
    line-height: 1;
    font-family: ofelia-text, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: .7rem;
    color: #EEF5DB;
    margin-bottom: 2%;
    text-align: left;
    line-height: 150%;
  }
  .customize p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-transform: uppercase;
    line-height: 1;
    font-family: ofelia-text, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: .7rem;
    color: #EEF5DB;
    margin-bottom: 2%;
    text-align: left;
    line-height: 150%;
  }
  .urban-item{
    display: inline-block;
    position: relative;
    margin: 20px;
    width: 380px;
    height: 300px;
    border: 2px solid #4F6367;
    border-radius: 1%;
  }
  .urban-item img{
    width: 380px;
    height: 250px;
    object-fit: cover;
    border-radius: 1%;
  }
  }
  